$color-text-primary: rgba(0, 0, 0, 0.87);
$color-text-secondary: rgba(0, 0, 0, 0.6);

$color-primary: #ff9800;
$color-primary-300: rgba(255, 152, 0, 0.4);
$color-secondary: #ff9800;
$color-shadow: rgba(0, 0, 0, 0.54);

$standard-spacing: 8px;
$background: #fff;
